In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('../rawData/climadiciembre2019.csv')

In [3]:
datos

,web-scraper-order,web-scraper-start-url,pagination,Hora,Tem,Hum,fecha
0,1679676762-2510,https://www.tutiempo.net/registros/gclp/1-dici...,NaN,00:00,20°,83%,Domingo 1 Diciembre 2019
1,1679676762-2511,https://www.tutiempo.net/registros/gclp/1-dici...,NaN,NaN,NaN,NaN,Domingo 1 Diciembre 2019
2,1679676762-2512,https://www.tutiempo.net/registros/gclp/1-dici...,NaN,00:30,20°,83%,Domingo 1 Diciembre 2019
3,1679676762-2513,https://www.tutiempo.net/registros/gclp/1-dici...,NaN,01:00,20°,83%,Domingo 1 Diciembre 2019
4,1679676762-2514,https://www.tutiempo.net/registros/gclp/1-dici...,NaN,01:30,20°,83%,Domingo 1 Diciembre 2019
...,...,...,...,...,...,...,...
1524,1679676837-4034,https://www.tutiempo.net/registros/gclp/1-dici...,https://www.tutiempo.net/registros/gclp/31-dic...,21:30,17°,27%,Martes 31 Diciembre 2019
1525,1679676837-4035,https://www.tutiempo.net/registros/gclp/1-dici...,https://www.tutiempo.net/registros/gclp/31-dic...,22:00,18°,24%,Martes 31 Diciembre 2019
1526,1679676837-4036,https://www.tutiempo.net/registros/gclp/1-dici...,https://www.tutiempo.net/registros/gclp/31-dic...,22:30,18°,26%,Martes 31 Diciembre 2019
1527,1679676837-4037,https://www.tutiempo.net/registros/gclp/1-dici...,https://www.tutiempo.net/registros/gclp/31-dic...,23:00,17°,27%,Martes 31 Diciembre 2019
1528,1679676837-4038,https://www.tutiempo.net/registros/gclp/1-dici...,https://www.tutiempo.net/registros/gclp/31-dic...,23:30,17°,27%,Martes 31 Diciembre 2019

In [4]:
#nos quedamos con los campos que nos interesan
df = datos[['Hora', 'Tem', 'Hum', 'fecha']].dropna()
df.reset_index(drop=True, inplace=True)
df

       Hora  Tem  Hum                     fecha
0     00:00  20°  83%  Domingo 1 Diciembre 2019
1     00:30  20°  83%  Domingo 1 Diciembre 2019
2     01:00  20°  83%  Domingo 1 Diciembre 2019
3     01:30  20°  83%  Domingo 1 Diciembre 2019
4     02:00  20°  78%  Domingo 1 Diciembre 2019
...     ...  ...  ...                       ...
1493  21:30  17°  27%  Martes 31 Diciembre 2019
1494  22:00  18°  24%  Martes 31 Diciembre 2019
1495  22:30  18°  26%  Martes 31 Diciembre 2019
1496  23:00  17°  27%  Martes 31 Diciembre 2019
1497  23:30  17°  27%  Martes 31 Diciembre 2019

[1498 rows x 4 columns]

In [5]:
#Damos el formato deseado a los datos
dias = []
for i in range(len(df)):
    df['Hora'].iloc[i] = int(df['Hora'].iloc[i].split(':')[0])
    df['Tem'].iloc[i] = int(df['Tem'].iloc[i].replace('°',''))
    df['Hum'].iloc[i] = int(df['Hum'].iloc[i].replace('%',''))
    dia = df.iloc[i,3].split(' ')[1]
    dias.append(int(dia)) 
df['Dia'] = dias
df.drop(columns='fecha', inplace=True)

In [6]:
df

     Hora Tem Hum  Dia
0       0  20  83    1
1       0  20  83    1
2       1  20  83    1
3       1  20  83    1
4       2  20  78    1
...   ...  ..  ..  ...
1493   21  17  27   31
1494   22  18  24   31
1495   22  18  26   31
1496   23  17  27   31
1497   23  17  27   31

[1498 rows x 4 columns]

In [7]:
#Nos quedamos con un solo registro por dia y hora 
eliminar = []
regs = {}
for dia in range(1,32):
    regs[dia] = []

for i in range(len(df)):
    dia = df['Dia'].iloc[i]
    hora = df['Hora'].iloc[i]

    if hora in regs[dia]:
        eliminar.append(i)
    else:
        regs[dia].append(hora)
    
    

df.drop(eliminar, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [8]:
df

    Hora Tem Hum  Dia
0      0  20  83    1
1      1  20  83    1
2      2  20  78    1
3      3  20  78    1
4      4  19  83    1
..   ...  ..  ..  ...
738   19  18  59   31
739   20  17  48   31
740   21  17  45   31
741   22  18  24   31
742   23  17  27   31

[743 rows x 4 columns]

In [9]:
df.to_csv('../csv/CLIMA-DICIEMBRE-2019.csv', index=False)